@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

body {
    font-family: 'Figtree', sans-serif;
    background: #F1F0EE;

}

.podcast-list article:nth-child(1){
    background: linear-gradient(90deg, #FAFAFA 30.2%, #EEF4D5 113.33%);
}
.podcast-list article:nth-child(2){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #FFE1DD 113.33%);

}
.podcast-list article:nth-child(3){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #D5DCEF 113.33%);
}
.podcast-list article:nth-child(4){
    background: linear-gradient(90deg, #FAFAFA 30.2%, #EEF4D5 113.33%);

}
.podcast-list article:nth-child(5){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #FFE1DD 113.33%);

}
.podcast-list article:nth-child(6){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #D5DCEF 113.33%);

}

.podcast-list article:nth-child(7){
    background: linear-gradient(90deg, #FAFAFA 30.2%, #EEF4D5 113.33%);

}


.podcast-list article:nth-child(8){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #FFE1DD 113.33%);

}

.podcast-list article:nth-child(9){
    background:linear-gradient(90deg, #FAFAFA 30.2%, #D5DCEF 113.33%);

}

.podcast-list article:nth-child(10){
    background: linear-gradient(90deg, #FAFAFA 30.2%, #EEF4D5 113.33%);

}
body{
    background:linear-gradient(180deg, #E5EAFF 0%, #EED9DC 100%);
}
.figtree{
    font-family: 'Figtree', sans-serif;
}


.recommended-filter-section{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:40px;
}


.pd-hero{
    display:flex;
    flex-direction:column;
    gap:16px;
    margin-bottom:18px;
}





/*
Backgrounds
*/

.filter-button {
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
.filter_button{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.filter_button button {
    border: none;
    padding: 10px 20px;
    background-color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}
.filter_button button:hover {
    background: #0E24D6;
    color: #fff;
}
.images-group {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: inherit;
}
.images-group img {
    max-width: 100px;
    height: auto;
    position: relative;
    margin-left: -20px;
}

.images-group img:first-child {
    margin-left: 0; /* No overlap for the first image */
}


.podcast-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
    padding:10px 0 0 0;

}
.podcast-list article{
    width:calc(50% - 10px);
    padding:20px 10px 10px 20px;
    border:1px solid #A4A09E;
    border-radius:20px;

}
.podcast-list article .title h2{
    font-size: 29px;
    font-weight:600;
}
.podcast-list article .body {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.podcast-list article .body .text{
    /*width: calc(50% - 10px) ;*/
}
.podcast-list .player{
    max-height:220px;
}
.podcast-list .time-remaining{
    text-align: right;
    position: relative;
    bottom: 60px;
    margin:0;
}
.podcast-list article .body .text p{
    font-size: 16px;
    font-weight:600;

}
.podcast-list article .body .media{
    width: calc(50% - 10px) ;
    max-width:220px;
}
.takeaway-list{
    padding-left:24px;
}

.podcast-list article .footer {
    display:flex;
    flex-direction:row-reverse;
}

.podcast-list article .footer .outlined-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#takeaway-icon{
    display:none;
}






/*
Search And Filter Bar
*/

.podcast-search form{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

div.search-form {
    width:80%;
    flex: 1;
    border: 1px solid #0000003B;
    border-radius:30px;
    padding:8px;
}

input.search-field {
    height:48px;
    border:0;
    background:transparent;
    width: calc(100% - 60px);
}
div.search-form .search-submit{
    background:transparent;
    border:0;
    vertical-align: middle;
}
.search-submit {

}
.filled-btn a{
    color:white !important;
}
.search-filters {
    /*width:20%;*/
}

.filter-button {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.filter-button svg {
    /*margin-left:10px;*/

}
.filter-button p {
    margin:0;
    /*margin-left:10px;*/

}
#filter-popup{
    display:none;
}
#filter-popup{
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 30px;
    width:374px;
    right:100%;
}


.filter-popup {

    transition: transform 0.3s ease-in-out;
}

.filter-header {
    display:flex;

}
.filter-header span{
display:none;
}
.filter-header p {
    font-size:24px;

}

.filter-content {
    /*padding: 20px;*/
}
.filter-content .select2 textarea{
    /*margin:10px 0;*/
}

.industry-wrapper,.profession-wrapper{
    padding:10px 0;
}

.filter-content .select2-selection {
    border-radius: 30px !important;
    border: 1px solid #0000003B !important;
    padding: 12px 4px !important;

}
.filter-content .select2-selection ul {
    display:none !important;

}
.filter-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#apply-filter,
#clear-filter {
    padding:8px 22px;

}

#apply-filter{
    box-shadow: 0px 1px 5px 0px #0000001F;

    box-shadow: 0px 2px 2px 0px #00000024;

    box-shadow: 0px 3px 1px -2px #00000033;
    border-radius:30px;
    background: #0E24D6;
    width:208px;
    text-align:center;
    color:white;
}

#clear-filter {
    color: #0E24D6;
}

ul#industry-suggestion{
    padding:4px 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
}


ul#industry-suggestion li{
    display:flex;
    list-style:none;
    padding:4px 8px;
    border-radius:16px;
    background: #D2DCFF;
    color: #000000DE;
    font-size:13px;
    line-height:18px;
    gap:4px;
}
ul#industry-suggestion li .remove-option{
    display:inline;
}
ul#industry-suggestion li span{


}

ul#profession-suggestion{
    padding:4px 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
}


ul#profession-suggestion li{
    display:flex;
    list-style:none;
    padding:4px 8px;
    border-radius:16px;
    background: #D2DCFF;
    color: #000000DE;
    font-size:13px;
    line-height:18px;
    gap:4px;
}
ul#profession-suggestion li .remove-option{
    display:inline;
}
ul#profession-suggestion li span{


}


/* Initial state of the element */
.takeaway-icon {
    display:none;
    transition: transform 0.5s ease; /* Smooth transition for transform property */
}

/* State when the class 'rotate' is added */
.takeaway-icon.turn {
    transform: rotate(180deg); /* Rotate the element 180 degrees */
}

/*
Podcast Player
*/

.expert_name{
    font-family: Figtree;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.player .summary-progress{
    border-radius:50%;
}
.media.founder{
    font-size:14px;
}
@media screen and (max-width: 768px) {

    .filter-header span{
        display:inherit;
    }

    .images-group img{
        width:48px;
        height:48px;
    }
    #filter-popup {
        width: 100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        padding-top:20px;

    }
    .filter-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .filter-header span#close-filter svg{
        float:right;
    }
}





/*
Responsive
*/



@media screen and (max-width: 768px) {
    .takeaway-icon{
        display:inline;
        float:right;
    }
    ol.takeaway-list{
        display:none;
    }
    .podcast-list{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
    }
    .podcast-list article{
        width:100%;
        padding:20px 10px 10px 20px;
        border:1px solid black;
    }


    .podcast-list article .body {
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .podcast-list article .body .text{
        width: 100% ;
    }
    .podcast-list article .body .media{
        width: 100% ;
    }

/*
    Search And Filter Bar
*/

}
@media screen and (max-width: 480px) {

}

/*Pagination*/


.podcast-pagination{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:40px 0;
}
.podcast-pagination-pages span{
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}
.podcast-pagination-pages a{

    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.podcast-pagination-pages .current{
    background: #F9F5FF;
    color: #7F56D9;
    border-radius:8px;

}
@media screen and (max-width: 480px) {

}


@media screen and (max-width: 768px) {

}
.podcast-pagination svg{
    vertical-align:middle;
}

